@font-face {
    font-family: "Prosto One";
    src: local('../fonts/ProstoOne.ttf'),
         url('ProstoOne.ttf') format('truetype');
}

body {
  font-family:  Lato, "Prosto One", "Helvetica Neue", sans-serif;
}

.logoPF{
  margin-top: 0px;
  height: 100%;
  width:  100%;
}

h1.header{
  font-family: "Prosto One";
  font-size: 70px;
  color: #FF69B4;
  text-align: left;
  font-weight: bold;
  height: 75px;
}

.parasnippet{
  height: 145px;
  padding: 0px 5px 5px 5px;
}

.grid_12_cust{
  margin-top: 30px;
  margin-bottom: 10px;
}

.grid_9_navi{
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 0px;
}

.grid_12_cust_border{
  border: 1px solid lightgrey;
  box-sizing: border-box;
}

.grid_12_cust_footer{
  border: 1px solid #D8BFD8;
  box-sizing: border-box;
  background-image: url('../images/footerbg.jpg');
  width: 105%;
}

.grid_4_cust{
  margin-top: 5px;
  margin-bottom: 15px;
  /*padding:5px 0px 5px 0px;*/
}

.grid_12_cust_awardback{
  background: #D8BFD8;
  background-image: url('../images/bestback.jpg');
  background-position: center top;
  background-size: 100%;
  text-align: center;
  margin-bottom: 0px;
  height: 100%; box-sizing: border-box;
}

.grid_12_cust_awardpara{
  background: #D8BFD8;
  background-size: 100%;
  margin-left: 0px;
  box-sizing: border-box;
  text-align: justify;
  list-style-type: circle;
}

ul.footersocial li, ul.footersocial a{
  margin-top: 10px;
  display: inline;
  text-align: right;
  list-style-type: none;
  color: white;
}

#para_awardback{
  background: rgba(255, 255, 255, 0.68);
  color: black;
  padding: 5px;
  line-height: 1em;
  text-align: center;
}

a.continue_link{
  text-align: right;
  display: block;
}

#navList li{
  width: 125px;
  position: relative;
  float: left;
  margin-right: 15px;
  margin-left: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}

#navList a{
  margin-right: 5px;
  margin-left: 0px;
  line-height: 25px;
  text-decoration: none;
  display: block;
  width: 125px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #CCC;
  background-color: skyblue;
}

ul#navList, ul.subMenu01{
  list-style-type: none;
}

ul#navList .subMenu01 a{
  margin-top: 1px;
  text-align: justify;
  line-height: 21px;
}

ul#navList .subMenu01{
  display: none;
  position: absolute;
}

ul#navList li:hover > a{
  background-color: rgb(15, 54, 224);
}

ul#navList li:hover a:hover{
  background-color: rgb(182, 135, 241);
}

ul#navList li:hover .subMenu01{
  display: block;
}
